{# src/messenger/templates/messenger/layouts/messenger.html #}

{% extends "base.html" %}

{% load static i18n %}

{% block content %}

<div
    class="
        mx-auto
        h-[calc(100dvh-4rem)]
        w-full
        max-w-7xl
        sm:px-4
        sm:py-4
        lg:px-6
    "
>
    <div
        class="
            grid
            h-full
            min-h-0
            min-w-0
            overflow-hidden
            bg-white

            sm:rounded-xl
            sm:border
            sm:border-slate-200
            sm:shadow-sm

            lg:grid-cols-[20rem_minmax(0,1fr)]
            xl:grid-cols-[22rem_minmax(0,1fr)]
        "
    >
        <div
            class="
                {% if messenger_thread_active %}
                    hidden lg:block
                {% else %}
                    block
                {% endif %}

                min-h-0
                min-w-0
                overflow-hidden
            "
        >
            {% include "messenger/partials/sidebar.html" %}
        </div>

        <main
            class="
                {% if messenger_thread_active %}
                    flex
                {% else %}
                    hidden lg:flex
                {% endif %}

                min-h-0
                min-w-0
                flex-col
                overflow-hidden
                bg-white
            "
        >
            {% block messenger_content %}
            {% endblock %}
        </main>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'messenger/js/messenger.js' %}"></script>
{% endblock %}
