{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if GOOGLE_SITE_VERIFICATION %}
        <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
    {% endif %}

    <meta name="google-site-verification" content="vY8ExX2Zg1T6KVXMetxN87mu8h4Sbnx9rwCgLm5zo0o" />

    <title>{% block title %}Social Network{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="canonical" href="#">

    <link rel="icon" href="#" sizes="any">

    <!-- Tailwind CSS (Development) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- HTMX -->
    <script
        src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"
    ></script>

    {% block extra_head %}{% endblock %}
</head>

<body class="flex min-h-screen flex-col bg-[#f9faf9]"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include "layouts/site_header/header.html" %}


    <main class="flex-1">

        {% block content %}
            {% block page %}{% endblock %}
        {% endblock %}

    </main>


    {% include "layouts/site_footer/footer.html" %}

    {% if user.is_authenticated %}
        {% include "components/_mobile_dock.html" %}
    {% endif %}


    <!-- Глобальные модалки авторизации -->
    {% include "accounts/modals/login_modal.html" %}
    {% include "accounts/modals/register_modal.html" %}
    {% include "accounts/modals/reset_modal.html" %}


    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'gallery/js/safe_media_mode.js' %}" defer></script>

    {% block extra_js %}{% endblock %}

</body>
</html>