{# src/messenger/templates/messenger/partials/dialog/message_list.html #}

{% load i18n %}

<div
    id="message-list"
    class="
        flex
        min-h-0
        flex-1
        flex-col
        gap-4
        overflow-y-auto
        bg-white
        p-4
    "
>

    {% for message in messages %}

        {% include "messenger/partials/dialog/message_item.html" %}

    {% empty %}

        <div class="py-8 text-center text-sm text-slate-500">
            {% trans "No messages yet." %}
        </div>

    {% endfor %}

</div>